.grid__box {
    background-color: #61dafb;
    border: 1px solid black;
}

.grid__box--hitted {
    background-color: red;
}

.grid__box--filled {
    background-color: steelblue;
}

.grid__box--failed {
    background-color: #eee;
}

.grid__box--cpu {
    cursor: pointer;
}

.ships__list-item-1,
.ships__list-item-2,
.ships__list-item-3 {
    background-color: steelblue;
}

.ships__list-item--rotate {
    transform: rotateZ(90deg)
}