.root {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.ships {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ships__list {
  position: relative;
}

.ships__list-item-1,
.ships__list-item-2,
.ships__list-item-3,
.ships__list-item-4,
.ships__list-item-5 {
  background-color: steelblue;
  height: 30px;
  width: 90px;
  margin-top: 1em;
}

.ships__list-item-2--rotate,
.ships__list-item-3--rotate,
.ships__list-item-4--rotate {
  height: 90px;
  width: 30px;
}

.ships__list-item-1 {
  width: 120px;
}

.ships__list-item-1--rotate {
  width: 30px;
  height: 120px;
}

.ships__list-item-5 {
  width: 60px;
}

.ships__list-item-5--rotate {
  width: 30px;
  height: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
}
  
.grid__box {
  position: relative;
  background-color: #61dafb;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}


.form {
  display: grid;
  flex-direction: column;
  gap: 1em;
}

.form > {
  margin-top: .5em;
}

.end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}